[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
bs4 = "*"
pandas = "*"
pyarrow = "*"
fastparquet = "*"
sphinx = "*"
rinohtype = "*"
jupyterlab = "*"
matplotlib = "*"
torch = "*"
torchvision = "*"
tqdm = "*"
black = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"
